[class*="col-"] {
 background-color: #eee;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
 margin-bottom: 10px;
 font-size: 2rem;
}
html {
    position: relative;
    min-height: 100vh;
  }
  body {
    margin-bottom: 4em;
  }
  .footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4em;
    line-height: 4em;
    position: absolute;
    background-color: #ccc;
  }
  .carousel {
  height: 500px !important;
}
.carousel-inner img {
  height: 400px !important;
  margin: 0 auto;
}
.carousel-indicators li {
  border-color: #000;
}
.carousel-indicators .active {
  background-color: #000;
}
